<h1>Inventory Manager </h1>

<div class="navBar">
  <br>

  <a href="/orders/" >
    <div class="button">
        Orders
    </div>
  </a>
    <br>

  <a href="/orders/" >
    <div class="button">
        Inventory Items
    </div>
  </a>
   <br>

  <a href="/orders/" >
    <div class="button">
        Items in Use
    </div>
  </a>

</div>

<div class="mainView">


</div>
