<h1>Inventory Manager >> >> >> Orders Index</h1>

<div class="navBar">

  <br>
  <%= link_to "Reagent List", controller:"welcome", action: "index" %>
  <br>

  <br>
  <%= link_to "Orders", controller:"orders", action: "index" %>
  <br>

  <br>
  <%= link_to "Other", controller:"orders", action: "index" %>
  <br>

</div>


<div class="mainView">
    <%= render @view %>
</div>
